# You need to create a .env file with these environment variables
DB_URL=database-url
DB_USERNAME=database-username
DB_PASSWORD=database-password

REDIS_HOST=redis-server-host
REDIS_PASSWORD=password-of-the-redis-server
REDIS_PORT=redis-server-port

SMTP_HOST=smtp-host
SMTP_PORT=smtp-port
SMTP_USERNAME=smtp-username
SMTP_PASSWORD=smtp-password

FRONTEND_URL=frontend-url